*{
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

header{
    height: 10vh;
    background-color: white;
    display: flex;
}

header > .logo {
    width: 80%;
    margin-left: 100px;
   }
header > .links {
    width: 20%;
    display: flex;
    align-items: center;
    justify-self: right;
    justify-content: space-evenly;
}

.devices{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.device_status{
    margin-left: 50px;
}
.virtual{
    margin-top: 100px;
}

.device_status_indicator{
    padding: 10px;
    border: 1px solid;
    border-radius : 10px;
    color: White;
    background-color: green;
}
.device_status_indicator:hover{
    background-color: red;
    
}

.grid > span {
    
    padding: 40px;
    border: 1px solid;
    color: White;
    background-color: green;
    
}

.grid_1:hover{
    background-color: red;

}
.grid_2:hover{
    background-color: red;

}
.grid_3:hover{
    background-color: red;

}
.grid_4:hover{
    background-color: red;

}





















a{
    color: black;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.left {
    
    width: 50%;
    

}
.right {
   
    width: 40%;
    
}

main{
    background-color: white;
    height: 80vh;
}
.cointainer{
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
}
footer{
    width: 100%;
    display: flex;
    background-color: white;
    height: 10vh;
    align-items: center;
    justify-content: center;
    
}